@import '../../../sass/variables';

#Announcements {
  > .announcement {
    background-color: #fff;
    padding: 17px 20px;
    border: 1px solid $gray-1;
    box-shadow: $global-box-shadow;
    > .header {
      > .title {
        font-family: rubikmedium;
        font-size: 14px;
        margin-bottom: 0;
      } 
      > .post-date {
        margin-top: 5px;
      }
    }
    > .message {
      line-height: 1.5;
      margin-bottom: 0;
    }
  }

  > .announcement:nth-last-child(n + 2) {
    margin-bottom: 10px;
  }
}