// Colors
$green-1:#329B58;
$green-2:#2D8548;
$green-3:#F5FFF4;
$green-4: #dfffe9;
$gray-1: #D5D7E3;
$black-1: #2B2B2B;
$yellow-1: #E6AC3E;
$yellow-2: #f1b94f;
$red-1:#f34141;
// Global
$global-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.14);