// Colors
$green-1: #329b58;
$green-2: #2d8548;
$green-3: #f5fff4;
$green-4: #dfffe9;
$green-5: #4ebb76;
$gray-1: #d5d7e3;
$gray-2: #828282;
$black-1: #2b2b2b;
$yellow-1: #e6ac3e;
$yellow-2: #f1b94f;
$red-1: #f34141;
// Global
$global-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.14);
