@import "~Sass/variables";

#App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;;
}

#Login {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  min-height: 330px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: $global-box-shadow;
  box-sizing: border-box;
  padding: 30px;
  border-top: 5px solid $green-1;
  > .input {
    margin-bottom: 15px;
  }
  > .title {
    font-size: 22px;
    margin-top: 0;
    text-align: center;
  }

  > .cvsu-input:nth-last-child(n + 2) {
    margin-bottom: 15px;
  }

  > .cvsu-btn {
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 8px;
    margin-top: auto;
    margin-bottom: 20px;
  }

  > .footer {
    display: flex;
    justify-content: space-between;
    > .cvsu-btn {
      text-transform: capitalize;
      font-family: rubikregular;
    }
  }
}

#SignUpModal {
  .section.header {
    font-size: 20px;
    &:after {
      display: block;
      content: "";
      border-bottom: solid 3px $green-1;
      width: 100px;
      margin-top: 8px;
    }
  }
}