
// Components
@import './site/components/top-nav';
@import './site/components/main-nav';
@import './site/components/heroheader';
@import './site/components/footer';
@import './site/components/dean-message';
@import './site/components/announcements';
@import './site/components/academic-calendar';
@import './site/components/sidebar';
@import './site/components/side-announcements';
@import './site/components/side-quicklinks';

// Pages
@import './site/home';
@import './site/about';

#App {
  position: relative;
  min-height: 100%;
}

.container {
  min-height: 100%;
  max-width: 960px;
  width: 100%;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;

  &.grid {
    display: grid;
  }
}

#About {
  .section.header {
    font-size: 20px;
    &:after {
      display: block;
      content: "";
      border-bottom: solid 3px $green-1;
      width: 100px;
      margin-top: 8px;
    }
  }
}


#SideQuickLinks,
#SideAnnouncements {
  .section.header {
    font-size: 17px;
    margin-top: 0;
  }
}