@import './site/home';
@import './site/about';
@import './site/facilities';

body {
  background-color: $green-3;
}

#App {
  position: relative;
  min-height: 100%;
}

.container {
  min-height: 100%;
  max-width: 960px;
  width: 100%;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;

  &.grid {
    display: grid;
  }
}

#Home, #About, #Facilities {
  height: 100%;
  .section.header {
    font-size: 20px;
    &:after {
      display: block;
      content: "";
      border-bottom: solid 3px $green-1;
      width: 100px;
      margin-top: 8px;
    }
  }
  > .grid.container {
    margin-top: 20px;
    margin-bottom: 20px;
    grid-gap: 15px;

    > .grid-item {
      background-color: #fff;
      padding: 20px;
    }
  }
}


#SideQuickLinks,
#SideAnnouncements {
  .section.header {
    font-size: 17px;
    margin-top: 0;
  }
}