#DeanMessage > #Save {
  margin-top: 10px;
}

#Announcements > .modal > .content > input {
  margin-bottom: 10px;
}

#Announcements > .modal > .content > button {
  margin-top: 10px;
}

#Announcements > .table-container > table > thead > tr > th:nth-child(2),
#Announcements > .table-container > table > thead > tr > th:nth-child(3) {
  width: 14%;
}

#Announcements > .table-container > table > thead > tr > th:last-child {
  width: 15%;
  text-align: center;
}

#Announcements > .table-container > table > tbody > tr > td.actions {
  text-align: center;
}

#Announcements > .table-container > table > tbody > tr > td.actions > .update {
  margin-right: 10px;
}

#Announcements > .table-container > table > tbody > tr > td.actions > .update,
#Announcements > .table-container > table > tbody > tr > td.actions > .delete {
  font-size: 12px;
  min-width: 70px;
}

#AcademicCalendar > .modal > .content > input {
  margin-bottom: 10px;
}

#AcademicCalendar > .modal > .content > button {
  margin-top: 10px;
}

#AcademicCalendar > .modal > .content > .react-datepicker-wrapper {
  margin-bottom: 10px;
}

#AcademicCalendar > .modal > .content > .react-datepicker-wrapper:nth-of-type(1) {
  margin-right: 10px;
}

#AcademicCalendar > .modal > .content > .react-datepicker-wrapper > .react-datepicker__input-container > input[type=text] {
  padding: 15px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  border: 1px solid #D5D7E3;
}

#AcademicCalendar > .table-container > table > thead > tr > th:nth-child(2) {
  width: 17%;
}

#AcademicCalendar > .table-container > table > thead > tr > th:nth-child(3),
#AcademicCalendar > .table-container > table > thead > tr > th:nth-child(4) {
  width: 14%;
}

#AcademicCalendar > .table-container > table > thead > tr > th:last-child {
  width: 15%;
  text-align: center;
}

#AcademicCalendar > .table-container > table > tbody > tr > td.actions {
  text-align: center;
}

#AcademicCalendar > .table-container > table > tbody > tr > td.actions > .update {
  margin-right: 10px;
}

#AcademicCalendar > .table-container > table > tbody > tr > td.actions > .update,
#AcademicCalendar > .table-container > table > tbody > tr > td.actions > .delete {
  font-size: 12px;
  min-width: 70px;
}

body {
  background-color: #f5f5f5;
}

#App {
  position: relative;
  min-height: 100%;
  display: grid;
  grid-template-columns: 200px;
}

#Content {
  overflow-y: auto;
  max-height: -webkit-calc(100vh - 60px);
  max-height: -moz-calc(100vh - 60px);
  max-height: calc(100vh - 60px);
  padding: 20px;
}

#DeanMessage .section.header,
#Announcements .section.header {
  font-size: 20px;
}

#DeanMessage .section.header:after,
#Announcements .section.header:after {
  display: block;
  content: "";
  border-bottom: solid 3px #329B58;
  width: 100px;
  margin-top: 8px;
}

