#Home > .grid.container {
  max-width: 1200px;
  padding-top: 3.57142rem;
  padding-bottom: 3.57142rem;
  grid-template-columns: 53.62857rem auto;
  grid-template-rows: 250px auto;
  grid-column-gap: 100px;
}

#Home > .grid.container > .section > .header {
  font-size: 20px;
  font-family: rubikmedium;
  text-transform: uppercase;
}

#Home > .grid.container > #AcademicCalendar {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 3;
}

#History #CVSUFront {
  width: 100%;
  min-height: 240px;
}

#History > p {
  line-height: 1.4;
}

#MissionVision > #Mission,
#MissionVision > #Vision {
  background-color: #fff;
  padding: 20px;
}

#MissionVision > #Mission > p,
#MissionVision > #Vision > p {
  line-height: 1.4;
}

#Hymn > #Lyrics {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: auto;
  max-width: 200px;
}

#Hymn > #Lyrics > audio {
  margin-bottom: 10px;
  height: 35px;
}

#Hymn > #Lyrics > p {
  margin-bottom: 0;
  line-height: 1.4;
}

#SideAnnouncements {
  top: 309px;
}

#SideQuickLinks {
  top: 117px;
  max-height: 140px;
}

#About > .grid.container > #SideQuickLinks {
  grid-row: 1;
}

#About > .grid.container > #SideAnnouncements {
  grid-row: 2;
}

#About > .grid.container > #History {
  grid-column: 1/5;
  grid-row: 1/4;
}

#About > .grid.container > #MissionVision {
  grid-column: 1/5;
  grid-row: 4;
}

#About > .grid.container > #Hymn {
  grid-column: 1/5;
}

#SideAnnouncements {
  top: 309px;
}

#SideQuickLinks {
  top: 117px;
  max-height: 140px;
}

#Facilities > .grid.container {
  grid-template-columns: 650px auto;
}

#Facilities > .grid.container > #SideQuickLinks {
  grid-column: 3;
}

#Facilities > .grid.container > #SideAnnouncements {
  grid-row: 2;
}

#Facilities > .grid.container > #UniversityFacilities {
  max-width: 628px;
  width: 100%;
  grid-column: 1/3;
  grid-row: 1/4;
}

#App {
  position: relative;
  min-height: 100%;
}

.container {
  min-height: 100%;
  max-width: 960px;
  width: 100%;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container.grid {
  display: grid;
}

#About,
#Facilities {
  height: 100%;
}

#About .section.header,
#Facilities .section.header {
  font-size: 20px;
}

#About .section.header:after,
#Facilities .section.header:after {
  display: block;
  content: "";
  border-bottom: solid 3px #329B58;
  width: 100px;
  margin-top: 8px;
}

#About > .grid.container,
#Facilities > .grid.container {
  margin-top: 20px;
  margin-bottom: 20px;
  grid-gap: 15px;
}

#About > .grid.container > .grid-item,
#Facilities > .grid.container > .grid-item {
  background-color: #fff;
  padding: 20px;
}

#SideQuickLinks .section.header,
#SideAnnouncements .section.header {
  font-size: 17px;
  margin-top: 0;
}

