#Home > .grid.container {
  max-width: 1200px;
  margin-top: 20px;
  margin-bottom: 20px;
  grid-template-columns: 750px auto;
  grid-column-gap: 20px;
}

#Home > .grid.container > .section > .header {
  font-size: 16px;
  font-family: rubikmedium;
  text-transform: uppercase;
}

#Home > .grid.container > .main {
  grid-row-start: 1;
  grid-column-start: 1;
}

#Home > .grid.container > .sidebar {
  grid-row-start: 1;
  grid-column-start: 2;
}

#About > .grid.container {
  grid-template-columns: 750px auto;
}

#About > .grid.container > .grid-item > #History {
  text-align: justify;
}

#About > .grid.container > .grid-item > #MissionVision {
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
}

#About > .grid.container > .grid-item > #MissionVision > #Mission {
  margin-right: 15px;
}

#About > .grid.container > .grid-item > #MissionVision > #Mission,
#About > .grid.container > .grid-item > #MissionVision > #Vision {
  padding: 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #fff;
}

#Facilities > .grid.container {
  grid-template-columns: 750px auto;
}

#SideAnnouncements {
  top: 309px;
}

#Admission > .container.grid {
  grid-template-columns: 750px auto;
}

#ContactUs > .container .mapouter {
  margin-bottom: 10px;
}

#ContactUs > .container .mapouter > .title {
  margin-bottom: 5px;
}

#ContactUs > .container > #ContactInfo {
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 15px;
  background-color: #fff;
}

#ContactUs > .container > #ContactInfo > .section.header {
  grid-column: 1/6;
}

#ContactUs > .container > #ContactInfo > .contact-form {
  grid-column: 1/4;
}

#ContactUs > .container > #ContactInfo > .contact-form > .input,
#ContactUs > .container > #ContactInfo > .contact-form > .textarea {
  margin-bottom: 15px;
}

#ContactUs > .container > #ContactInfo > .contact-form > #Send {
  padding-left: 30px;
  padding-right: 30px;
}

#ContactUs > .container > #ContactInfo > .contact-details {
  grid-column: 4/6;
  margin-bottom: 20px;
}

#ContactUs > .container > #ContactInfo > .contact-details > .detail {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#ContactUs > .container > #ContactInfo > .contact-details > .detail:nth-last-child(n+2) {
  margin-bottom: 25px;
}

#ContactUs > .container > #ContactInfo > .contact-details > .detail > i[class*=icon] {
  font-size: 23px;
  min-width: 23px;
  margin-right: 10px;
  color: #2d8548;
}

#Activate > .container.grid {
  grid-gap: 1rem;
  grid-template-rows: repeat(3, 250px);
}

#Announcements > .grid.container {
  grid-template-columns: 750px auto;
}

body {
  background-color: #f5fff4;
}

#App {
  position: relative;
  min-height: 100%;
  height: 100%;
}

#App > .wrapper {
  min-height: -webkit-calc(100% - 128px);
  min-height: -moz-calc(100% - 128px);
  min-height: calc(100% - 128px);
  margin-bottom: 20px;
}

.container {
  min-height: 100%;
  max-width: 1020px;
  width: 100%;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container.grid {
  display: grid;
}

#Home .section.header,
#About .section.header,
#Facilities .section.header,
#Admission .section.header,
#ContactUs .section.header,
#Announcements .section.header {
  font-size: 20px;
}

#Home .section.header:after,
#About .section.header:after,
#Facilities .section.header:after,
#Admission .section.header:after,
#ContactUs .section.header:after,
#Announcements .section.header:after {
  display: block;
  content: "";
  border-bottom: solid 3px #329b58;
  width: 100px;
  margin-top: 8px;
}

#Home > .container,
#About > .container,
#Facilities > .container,
#Admission > .container,
#ContactUs > .container,
#Announcements > .container {
  margin-top: 20px;
  margin-bottom: 20px;
}

#Home > .grid.container,
#About > .grid.container,
#Facilities > .grid.container,
#Admission > .grid.container,
#ContactUs > .grid.container,
#Announcements > .grid.container {
  grid-gap: 15px;
}

#Home > .grid.container > .grid-item,
#About > .grid.container > .grid-item,
#Facilities > .grid.container > .grid-item,
#Admission > .grid.container > .grid-item,
#ContactUs > .grid.container > .grid-item,
#Announcements > .grid.container > .grid-item {
  background-color: #fff;
  padding: 20px;
}

#About,
#Facilities,
#Admission,
#ContactUs,
#Announcement {
  height: 100%;
}

#SideQuickLinks .section.header,
#SideAnnouncements .section.header {
  font-size: 17px;
  margin-top: 0;
}

