#TopNav {
  background-color: #329B58;
  color: #fff;
  padding: 0.14285rem 0;
}

#TopNav > .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#TopNav > .container > .detail {
  font-size: 0.85714rem;
}

#TopNav > .container > .detail > label {
  margin-right: 5px;
}

#TopNav > .container > .breaker {
  margin: 0 0.85714rem;
}

#TopNav > .container > #Portal {
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
  font-size: 0.85714rem;
  margin-right: 0;
  margin-left: auto;
  background-color: #E6AC3E;
  color: #fff;
  text-transform: uppercase;
  padding: 0.35714rem 1.64285rem;
  font-family: rubikmedium;
}

#TopNav > .container > #Portal:hover {
  background-color: #f1b94f;
}

#MainNav {
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.14);
     -moz-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.14);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

#MainNav > .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#MainNav > .container > .sitename {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.42857rem 0;
}

#MainNav > .container > .sitename > .schoolname {
  margin-left: 0.85714rem;
}

#MainNav > .container > .sitename > .schoolname > .name {
  font-family: rubikmedium;
  font-size: 1.57142rem;
  margin-top: 0;
  margin-bottom: 0;
}

#MainNav > .container > .sitename > .schoolname > .branch {
  margin-top: 5px;
  margin-bottom: 0;
}

#MainNav > .container > .menu {
  padding: 0.42857rem 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#MainNav > .container > .menu > .item {
  -webkit-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  text-transform: uppercase;
  font-family: rubikmedium;
  cursor: pointer;
  position: relative;
  padding: 0 15px;
}

#MainNav > .container > .menu > .item:hover {
  background-color: #329B58;
  color: #fff;
}

#MainNav > .container > .menu > .item > a {
  text-decoration: none;
}

#MainNav > .container > .menu > .item > a:visited {
  color: inherit;
}

#MainNav > .container > .menu > .item > .sub-menu {
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  opacity: 0;
  visibility: hidden;
  padding: 0;
  position: absolute;
  list-style: none;
  background-color: #329B58;
  width: 180px;
  left: 0;
  bottom: -153px;
  -webkit-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.14);
     -moz-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.14);
  z-index: 2;
}

#MainNav > .container > .menu > .item > .sub-menu > .item {
  -webkit-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  color: #fff;
  font-family: rubikregular;
  padding: 8px 15px;
  line-height: 35px;
}

#MainNav > .container > .menu > .item > .sub-menu > .item > a {
  text-decoration: none;
}

#MainNav > .container > .menu > .item > .sub-menu > .item > a:visited {
  color: inherit;
}

#MainNav > .container > .menu > .item > .sub-menu > .item:hover {
  background-color: #2D8548;
}

#MainNav > .container > .menu > .item:hover > .sub-menu {
  opacity: 1;
  visibility: visible;
}

#HeroHeader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 39.285714rem;
  -webkit-background-size: cover;
     -moz-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
}

#HeroHeader > .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

#HeroHeader > .container > .greet {
  font-family: rubikmedium;
  font-size: 4.21428rem;
  max-width: 47.142857rem;
  font-weight: normal;
}

#HeroHeader > .container > .tagline {
  font-size: 2.14285rem;
}

#HeroHeader > .container > .greet,
#HeroHeader > .container > .tagline {
  margin: 0;
}

#Footer {
  width: 100%;
  background-color: #2D8548;
  padding: 10px 0;
}

#Footer > .container > .reserved {
  font-size: 0.85714rem;
  color: #fff;
  margin: 0;
}

#DeanMessage > .message-container {
  background-color: #fff;
  padding: 17px 20px;
  border: 1px solid #D5D7E3;
  -webkit-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.14);
     -moz-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.14);
}

#DeanMessage > .message-container > .header > p {
  margin-top: 0;
}

#DeanMessage > .message-container > .header > .greet {
  font-family: rubikmedium;
  font-size: 16px;
}

#DeanMessage > .message-container > .message {
  line-height: 1.5;
  margin-bottom: 0;
}

#Announcements > .announcement {
  background-color: #fff;
  padding: 17px 20px;
  border: 1px solid #D5D7E3;
  -webkit-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.14);
     -moz-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.14);
}

#Announcements > .announcement > .header > .title {
  font-family: rubikmedium;
  font-size: 16px;
  margin-bottom: 0;
}

#Announcements > .announcement > .header > .post-date {
  margin-top: 5px;
}

#Announcements > .announcement > .message {
  line-height: 1.5;
  margin-bottom: 0;
}

#Announcements > .announcement:nth-last-child(n+2) {
  margin-bottom: 10px;
}

#AcademicCalendar > .calendar {
  border-color: #D5D7E3;
}

#AcademicCalendar > .calendar .calendar-day.react-calendar__tile--active {
  background-color: #329B58;
}

#AcademicCalendar > .activities {
  margin-top: 10px;
}

#AcademicCalendar > .activities > .headers {
  background-color: #2D8548;
  color: #fff;
}

#AcademicCalendar > .activities > .headers > .date,
#AcademicCalendar > .activities > .headers > .activity {
  font-family: rubikmedium;
}

#AcademicCalendar > .activities > .activity {
  border: 1px solid #2D8548;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background-color: #fff;
}

#AcademicCalendar > .activities > .activity:nth-child(even) {
  background-color: #dfffe9;
}

#AcademicCalendar > .activities > .headers,
#AcademicCalendar > .activities > .activity {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

#AcademicCalendar > .activities > .headers > .date,
#AcademicCalendar > .activities > .activity > .date {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#AcademicCalendar > .activities > .headers > .activity,
#AcademicCalendar > .activities > .activity > .activity {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
     -moz-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.side-announcements {
  position: -webkit-sticky;
  position: sticky;
  top: 315px;
}

.side-quick-links {
  position: -webkit-sticky;
  position: sticky;
  top: 117px;
}

#Home > .grid.container {
  max-width: 1200px;
  padding-top: 3.57142rem;
  padding-bottom: 3.57142rem;
  grid-template-columns: 53.62857rem auto;
  grid-template-rows: 250px auto;
  grid-column-gap: 100px;
}

#Home > .grid.container > .section > .header {
  font-size: 20px;
  font-family: rubikmedium;
  text-transform: uppercase;
}

#Home > .grid.container > #AcademicCalendar {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 3;
}

#History > p {
  line-height: 1.4;
}

#MissionVision > #Mission,
#MissionVision > #Vision {
  background-color: #fff;
  padding: 20px;
}

#MissionVision > #Mission > p,
#MissionVision > #Vision > p {
  line-height: 1.4;
}

#Hymn > #Lyrics {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: auto;
  max-width: 200px;
}

#Hymn > #Lyrics > audio {
  margin-bottom: 10px;
  height: 35px;
}

#Hymn > #Lyrics > p {
  margin-bottom: 0;
  line-height: 1.4;
}

#About {
  height: 100%;
}

#About > .grid.container {
  margin-top: 20px;
  margin-bottom: 20px;
  grid-gap: 15px;
}

#About > .grid.container > .grid-item {
  background-color: #fff;
  padding: 20px;
}

#About > .grid.container > .side-quick-links,
#About > .grid.container > .side-announcements {
  grid-column: 5;
}

#About > .grid.container > .side-quick-links {
  grid-row: 1;
}

#About > .grid.container > .side-announcements {
  grid-row: 2/4;
}

#About > .grid.container > #History {
  grid-column: 1/5;
  grid-row: 1/4;
}

#About > .grid.container > #MissionVision {
  grid-column: 1/5;
  grid-row: 4;
}

#About > .grid.container > #Hymn {
  grid-column: 1/5;
}

#App {
  position: relative;
  padding-bottom: 2.85714rem;
  height: 100%;
}

.container {
  min-height: 100%;
  max-width: 960px;
  width: 100%;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container.grid {
  display: grid;
}

