@import "~Sass/variables";

.toast {
    position: fixed;
    background-color: $green-5;
    color: #fff;
    left: 0;
    right: 0;
    max-width: 500px;
    margin: auto;
    z-index: 999;
    padding: 20px;
    top: -110px;
    transition: all 0.6s;
    text-align: center;

    &.active {
        top: 20px;
    }
}
