@import '../../../sass/variables';

#DeanMessage {
  > .message-container {
    background-color: #fff;
    padding: 17px 20px;
    border: 1px solid $gray-1;
    box-shadow: $global-box-shadow;
  
  
    > .message {
      line-height: 1.5;
      margin-bottom: 0;
      h1,h2,h3 {
        margin-top: 0;
        line-height: 1;
      }
    }
  }
}