@import "../../../sass/variables";

#MainNav {
    background-color: #fff;
    box-shadow: $global-box-shadow;
    position: sticky;
    top: 0;
    z-index: 2;
    > .container {
        display: flex;
        justify-content: space-between;
        > .sitename {
            display: flex;
            align-items: center;
            padding: 5px 0;
            text-decoration: none;
            &:visited {
                color: inherit;
            }
            > .schoolname {
                margin-left: 12px;
            }
            > .schoolname > .name {
                font-family: rubikmedium;
                font-size: 18px;
                margin-top: 0;
                margin-bottom: 0;
            }
            > .schoolname > .branch {
                margin-top: 5px;
                margin-bottom: 0;
            }
        }
        > .menu {
            padding: 0.42857rem 0;
            display: flex;
            align-items: center;
            padding: 0;
            margin: 0;
            list-style-type: none;
            > .item {
                transition: background-color 0.2s ease-out;
                display: flex;
                align-items: center;
                height: 100%;
                text-transform: uppercase;
                font-family: rubikmedium;
                cursor: pointer;
                position: relative;
                padding: 0 15px;
            }

            > .item.active,
            > .item:hover {
                background-color: $green-1;
                color: #fff;
            }

            > .item,
            > .item > a {
                text-decoration: none;
            }

            > .item,
            > .item > a:visited {
                color: inherit;
            }
        }
    }
}

#MainNav > .container > .menu {
    > .item {
        > .sub-menu {
            top: 95px;
            display: flex;
            flex-direction: column;
            transition: all 0.2s ease-out;
            opacity: 0;
            visibility: hidden;
            padding: 0;
            position: absolute;
            list-style: none;
            background-color: $green-1;
            width: 180px;
            left: 0;
            bottom: -152px;
            box-shadow: $global-box-shadow;
            z-index: 2;
            > .item {
                transition: background-color 0.2s ease-out;
                color: #fff;
                font-family: rubikregular;
                padding: 8px 15px;
                line-height: 35px;
                text-decoration: none;
                color: inherit;
            }

            > .item.active {
                background-color: $green-2;
            }

            > .item:hover {
                background-color: $green-2;
            }
        }
    }

    > .item:hover {
        > .sub-menu {
            opacity: 1;
            visibility: visible;
        }
    }
}
