@import "../variables";
@import "./about/history";
@import "./about/mission-vision";
@import "./about/hymn";
#About {
  height: 100%;
  > .grid.container {
    margin-top: 20px;
    margin-bottom: 20px;
    grid-gap: 15px;

    > .grid-item {
      background-color: #fff;
      padding: 20px;
    }

    > #SideQuickLinks,
    > #SideAnnouncements {
      grid-column: 5;
    }

    > #SideQuickLinks {
      grid-row: 1;
    }
    > #SideAnnouncements {
      grid-row: 2;
    }
    > #History {
      grid-column: 1 / 5;
      grid-row: 1 / 4;
    }
    > #MissionVision {
      grid-column: 1 / 5;
      grid-row: 4;
    }
    > #Hymn {
      grid-column: 1 / 5;
    }
  }
}