@import "../variables";

// Components
@import './site/components/side-announcements';
@import './site/components/side-quicklinks';

#Facilities {
  > .grid.container {
    grid-template-columns: 650px auto;
    > #SideQuickLinks {
      grid-column: 3
    }
    > #SideAnnouncements {
      grid-row: 2;
    }
    > #UniversityFacilities {
      max-width: 628px;
      width: 100%;
      grid-column: 1 / 3;
      grid-row: 1 / 4;
    }
  }
}