@import '~Sass/variables';

#AcademicCalendar {
  position: relative;
  > .calendar {
    width: 100%;
    border-color: $gray-1;
    .calendar-day.react-calendar__tile--active {
      background-color: $green-1;
    }
    .calendar-day.react-calendar__tile:disabled:not(.react-calendar__tile--active) {
      background-color: #fff;
    }
  }
}