#Announcements {
    display: flex;
    flex-direction: column;
    > .announcement:nth-last-child(n + 2) {
        margin-bottom: 10px;
    }
    > #ViewMoreAnnouncements {
        margin-top: 15px;
        align-self: flex-end;
    }
}
