#Students {
    > .modal {
        > .content > button {
            margin-top: 10px;
        }
        > .content > .input {
            margin-bottom: 10px;
        }
    }
    > .table-container {
        > table {
            > thead > tr > th:nth-child(2) {
                width: 17%;
            }
            > thead > tr > th:nth-child(3),
            > thead > tr > th:nth-child(4) {
                width: 14%;
            }

            > thead > tr > th:last-child {
                width: 15%;
                text-align: center;
            }
            > tbody > tr > td > .student_no {
                margin-top: 0;
                margin-bottom: 5px;
            }

            > tbody > tr > td.actions {
                text-align: center;
            }
            > tbody > tr > td.actions > .update {
                margin-right: 10px;
            }
            > tbody > tr > td.actions > .update,
            > tbody > tr > td.actions > .delete {
                font-size: 12px;
                min-width: 70px;
            }
        }
    }
}
