@import '../../../sass/variables';

#Sidebar {
  position: sticky;
  background-color: #fff;
  top: 60px;
  display: flex;
  flex-direction: column;
  max-width: 200px;
  min-height: calc(100vh - 60px);
  
  > .link {
    padding: 15px;
    text-decoration: none;
    color: $black-1;
  }

  > .link:visited {
    color: inherit;
  }

  > .link.active {
    background-color: $green-1;
    color: #fff;
  }
}