#Hero {
  display: flex;
  min-height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    > .greet {
      font-family: rubikmedium;
      font-size: 55px;
      max-width: 660px;
      font-weight: normal;
    }
    > .tagline {
      font-size: 30px;
    }

    > .greet,
    > .tagline {
      margin: 0;
    }
  }
}