@import '../../../sass/variables';

.cvsu-btn {
  border: 0;
  background-color: $gray-1;
  border-radius: 0.28571rem;
  padding: 10px 15px;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}