#AcademicCalendar {
  > .modal {
    > .content > input {
      margin-bottom: 10px;
    }
    > .content > button {
      margin-top: 10px;
    }
    > .content > .react-datepicker-wrapper {
      margin-bottom: 10px;
    }
    > .content > .react-datepicker-wrapper:nth-of-type(1) {
      margin-right: 10px;
    }
    > .content > .react-datepicker-wrapper > .react-datepicker__input-container > input[type=text]{
      padding: 15px;
      border-radius: 4px;
      border: 1px solid #D5D7E3;
    }
  }
  > .table-container {
    > table {
      > thead > tr > th:nth-child(2) {
        width: 17%;
      }
      > thead > tr > th:nth-child(3),
      > thead > tr > th:nth-child(4) {
        width: 14%;
      }

      > thead > tr > th:last-child {
        width: 15%;
        text-align: center;
      }

      > tbody > tr > td.actions {
        text-align: center;
      }
      > tbody > tr > td.actions > .update {
        margin-right: 10px;
      }
      > tbody > tr > td.actions > .update,
      > tbody > tr > td.actions > .delete {
        font-size: 12px;
        min-width: 70px;
      }
    }
  }
}