@import '../../../sass/variables';

#TopNav {
  background-color: $green-1;
  color: #fff;
  padding: 5px 0;
  > .container {
    display: flex;
    align-items: center;

    > .detail {
      font-size: 12px
    }
    > .detail > label {
      margin-right: 5px;
    }
    > .breaker {
      margin:0 12px;
    }
    > #Portal {
      display: flex;
      transition: background-color 0.2s;
      font-size: 12px;
      margin-right: 0;
      margin-left: auto;
      background-color: $yellow-1;
      color: #fff;
      text-transform: uppercase;
      padding: 5px 20px;
      font-family: rubikmedium;
    }
    > #Portal > i[class*=icon] {
      margin-left: 10px;
    }
    > #Portal:hover {
      background-color: $yellow-2;
    }
  }
}